<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ebay but Better - Home</title>
    <h1> EbayButBetter.com </h1>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='../static/css/style.css'>
</head>
<body>
    <p> We sell stuff and I don't know what else to write.</p>
    <div class='row'>
        <div class='col-3 pd-l'>
            <a href='./product#1'>
                <img src='https://rlv.zcache.com/god_bless_america_trucker_hat-r4fa7e5f225024b66a5499e8f488b090e_eahw0_8byvr_704.webp' class='product-img'>
            </a>
        </div>
        <div class='col-3 pd-l'>
            <a href='./product#2'>
                <img src='https://cdn.shopify.com/s/files/1/2666/1642/products/Rocket_Man_1200x1200.png' class='product-img'>
            </a>
        </div>
        <div class='col-3 pd-l'>
            <a href='./product#3'>
                <img src='../static/blood.jpeg' class='product-img'>
            </a>
        </div>
        <div class='col-3 pd-l'>
            <a href='./product#4'>
                <img src='../static/drugs.jpeg' class='product-img'>
            </a>
        </div>
    </div>
</body>
</html>
